# Provide the name of your resource group
resourceGroupName=logicapps-ip-update

# Provide the location of your resource group
location=swedencentral

# Provide a prefix/unique id for the the resource naming
prefix=lgialu2

# Provide the name of the storage account that will be used by the Azure Functions
storageAccountName=${prefix}logappipudtsa01

# Provide the name of the Azure Function app name
funcAppName=${prefix}logappipudt-fa01

# Provide the name of the Application service principal used by GitHub Actions to deploy new versions of the function app
githubDeploymentAppName=github-actions-logappipudt

# Provide the name of the Application service principal used for local development
localDevelopmentAppName=local-funcapp-dev-logappipudt

# Test logic app name
logicAppNameForTesting="${prefix}-mySimpleLogicApp"
